{
  "openapi": "3.1.0",
  "info": {
    "title": "SMS Bomber API Docs",
    "version": "1.0.0",
    "description": "API documentation for my Next.js project."
  },
  "servers": [
    {
      "url": "https://smsbomber.live",
      "description": "Live server"
    }
  ],
  "paths": {
    "/api/hello": {
      "get": {
        "summary": "Get a greeting message via mobile verification",
        "description": "Sends an SMS message if the mobile number is valid and allowed.",
        "parameters": [
          {
            "name": "mobile",
            "in": "query",
            "required": true,
            "description": "Mobile number to receive the SMS (must be 10 digits).",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{10}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SMS sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "SMS sent successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (e.g., invalid mobile number)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid mobile number. It must be exactly 10 digits."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "Too many requests. Please try again later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred while processing the request."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/visitCount": {
      "post": {
        "summary": "Update and get website visit count",
        "description": "Increments the visit count for the website and returns the updated count.",
        "responses": {
          "200": {
            "description": "Visit count updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "total": {
                      "type": "integer",
                      "example": 1050
                    },
                    "today": {
                      "type": "integer",
                      "example": 25
                    },
                    "message": {
                      "type": "string",
                      "example": "Visit count updated successfully."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "message": {
                      "type": "string",
                      "example": "An error occurred while processing the request."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
